.example-spacer {
  flex: 1 1 auto;
}
.offcanvas-header {
  background-color: #C2185B;
  display: flex;
  height: 65px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
